<div class="album py-5 bg-light">
  <div class="container-fluid cont-products">
    <%= paginate @products %>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4">
      <% @products.each do |product| %>
      <div class="col mb-4">
        <div class="card border-light card-prod mb-4 shadow-sm text-right">
          <% if product.image.blank? %>
            <%= link_to (image_tag "https://via.placeholder.com/334X155", :class => "card-img-top", :alt => "placeholder image"), product %>
          <% else %>
            <%= link_to (image_tag product.thumbnail_index, :class => "card-img-top", :alt => "#{product.name} image"), product %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.genres.map { |p| p.name }.join(", ") %></p>
            <a href="#" class="btn btn-primary card-price">C$ <%= product.price %></a>
          </div>
        </div>
        </div>
        <% end %>
    </div>
  </div>
</div>